# -------------------------------------------------
# Purpose of file: allow web access to custom files
# -------------------------------------------------

# Apache 2.2
<IfModule !mod_authz_core.c>
    Deny from all
</IfModule>

# Apache 2.4
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

<FilesMatch "(?i)\.(css|js|jpg|gif|png|tif|swf|flv|html|htm|txt|htc|xml|eot|svg|ttf|woff)$">
    # Apache 2.2
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>

    # Apache 2.4
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
</FilesMatch>
